<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <!-- sweet alerts -->
        <link href="/static/sweet-alert/sweet-alert.min.css" rel="stylesheet">
        <!-- DataTables -->

        <link href="/static/toggles/toggles.css" rel="stylesheet" />

        <title>Company</title>
    </head>
    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <p class="lead">
                            Company: {{ .company.Name }}
                        </p>

                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <ul class="nav nav-tabs profile-tabs">
                                    <li class="active"><a id="infoTab">Customer Center</a></li>
                                    <li class=""><a id="driversTab" href="/cns/company/{{ .company.Id }}/service">Service</a></li>
                                    <li class=""><a id="vehiclesTab" href="/cns/company/{{ .company.Id }}/vehicle">Vehicles</a></li>
                                    <li class=""><a id="notesTab" href="/cns/company/{{ .company.Id }}/driver">Drivers</a></li>
                                </ul>
                                <div style="padding:30px">

                                    <div id="infoPane" class="col-lg-6">
                                        <div class="profile-desk">
                                            <h1>
                                                {{ .company.Name }}
                                                <button class="btn btn-primary btn-xs pull-right" id="editButton">Edit</button>
                                                <button class="btn btn-danger btn-xs pull-right hide" id="cancelButton">Cancel</button>
                                            </h1>
                                            <table id="view" class="table table-condensed" style="margin-bottom:0;">
                                                <tbody>
                                                    <tr>
                                                        <td><b>DOT #</b></td>
                                                        <td>{{ .company.DOTNum }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Name</b></td>
                                                        <td>{{ .company.Name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Primary Contact</b></td>
                                                        <td>
                                                            {{ .company.ContactName }}<br>
                                                            {{ .company.ContactTitle }}<br>
                                                            {{ .company.ContactPhone }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Secondary Contact</b></td>
                                                        <td>
                                                            {{ .company.SecondName }}<br>
                                                            {{ .company.SecondTitle }}<br>
                                                            {{ .company.SecondPhone }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Physical Address</b></td>
                                                        <td>{{ .company.PhysicalAddress.AddrHTML }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Mailing Address</b></td>
                                                        <td>{{ .company.MailingAddress.AddrHTML }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>MC #</b> &nbsp;&nbsp;{{ .company.MCNum }}
                                                        </td>
                                                        <td>
                                                            <b>PUC #</b> &nbsp;&nbsp;{{ .company.PUCNum }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>Fax</b> &nbsp;&nbsp;{{ .company.Fax }}
                                                        </td>
                                                        <td>
                                                            <b>Email</b> &nbsp;&nbsp;{{ .company.Email }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <b>EIN #</b> &nbsp;&nbsp;{{ .company.EINNum }}
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <form id="edit" class="hide" action="/cns/company" method="post">
                                                <table  class="table table-condensed" style="margin-bottom:0;">
                                                    <tbody>
                                                        <tr>
                                                            <td><b>DOT #</b></td>
                                                            <td><input type="text" class="form-control" name="dOTNum" value="{{ .company.DOTNum }}" placeholder="DOT#"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Name</b></td>
                                                            <td><input type="text" class="form-control" name="name" value="{{ .company.Name }}" placeholder="Name"></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Primary Contact</b></td>
                                                            <td>
                                                                <input type="text" class="form-control" name="contactName" value="{{ .company.ContactName }}" placeholder="Name"><br>
                                                                <input type="text" class="form-control" name="contactTitle" value="{{ .company.ContactTitle }}" placeholder="Title"><br>
                                                                <input type="text" class="form-control" name="contactPhone" value="{{ .company.ContactPhone }}" placeholder="Phone">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Secondary Contact</b></td>
                                                            <td>
                                                                <input type="text" class="form-control" name="secondName" value="{{ .company.SecondName }}" placeholder="Name"><br>
                                                                <input type="text" class="form-control" name="secondTitle" value="{{ .company.SecondTitle }}" placeholder="Title"><br>
                                                                <input type="text" class="form-control" name="secondPhone" value="{{ .company.SecondPhone }}" placeholder="Phone">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Physical Address</b></td>
                                                            <td>
                                                                <input type="text" class="form-control" name="physicalAddress.Street" value="{{ .company.PhysicalAddress.Street }}" placeholder="Name"><br>
                                                                <input type="text" class="form-control" name="physicalAddress.City" value="{{ .company.PhysicalAddress.City }}" placeholder="Title"><br>
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <input type="text" class="form-control" name="physicalAddress.State" value="{{ .company.PhysicalAddress.State }}" placeholder="Phone">
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <input type="text" class="form-control" name="physicalAddress.Zip" value="{{ .company.PhysicalAddress.Zip }}" placeholder="Zip">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Mailing Address</b></td>
                                                            <td>
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        Same as Physical
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <label class="radio-inline">
                                                                            <input type="radio" name="sameAddress" value="true" id="sameYes" {{ if .company.SameAddress}}checked{{ end }}> Yes
                                                                        </label>
                                                                        <label class="radio-inline">
                                                                            <input type="radio" name="sameAddress" value="false" id="sameNo" {{ if not .company.SameAddress}}checked{{ end }}> No
                                                                        </label>
                                                                        <!-- <div class="control-label">
                                                                            <div class="toggle toggle-default"></div>
                                                                        </div>
                                                                        <input id="switch" type="checkbox" name="company.SameAddress" {{ if .company.SameAddress }}checked{{ end }} value="true" class="hide"> -->
                                                                    </div>
                                                                </div>
                                                                <span id="mailingAddress" {{ if .company.SameAddress }}class="hide"{{ end }}>
                                                                    <br>
                                                                    <input type="text" class="form-control" name="mailingAddress.Street" value="{{ .company.MailingAddress.Street }}" placeholder="Name"><br>
                                                                    <input type="text" class="form-control" name="mailingAddress.City" value="{{ .company.MailingAddress.City }}" placeholder="Title"><br>
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <input type="text" class="form-control" name="mailingAddress.State" value="{{ .company.MailingAddress.State }}" placeholder="State">
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <input type="text" class="form-control" name="mailingAddress.Zip" value="{{ .company.MailingAddress.Zip }}" placeholder="Zip">
                                                                        </div>
                                                                    </div>
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>MC #</b><br><br>
                                                                <input type="text" class="form-control" name="mCNum" value="{{ .company.MCNum }}" placeholder="MC#">
                                                            </td>
                                                            <td>
                                                                <b>PUC #</b><br><br>
                                                                <input type="text" class="form-control" name="pUCNum" value="{{ .company.PUCNum }}" placeholder="PUC#">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>Fax</b><br><br>
                                                                <input type="text" class="form-control" name="fax" value="{{ .company.Fax }}" placeholder="Fax">
                                                            </td>
                                                            <td>
                                                                <b>Email</b><br><br>
                                                                <input type="email" class="form-control" name="email" value="{{ .company.Email }}" placeholder="Email">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>EIN #</b><br><br>
                                                                <input type="text" class="form-control" name="eINNum" value="{{ .company.EINNum }}" placeholder="EIN#">
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <input type="hidden" name="id" value="{{ .company.Id }}">
                                                <div class="form-group">
                                                    <button class="btn btn-success btn-block">Save</button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 text-center">
                                        NOTES SECTION
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ template "footer.tmpl" . }}

        </section>
        <!-- Main Content Ends -->

        {{ template "scripts.tmpl" . }}

        <script src="/static/js/jquery.scrollTo.min.js"></script>

        <script src="/static/toggles/toggles.min.js"></script>

        <script type="text/javascript">

            /*$('.toggle').toggles({
                {{ if .company.SameAddress }}on: true,{{ end }}
                checkbox:$('#switch'),
                text:{on:'YES',off:'NO'}
            });

            $('.toggle').click(function() {
                if ($('input#switch')[0].checked) {
                    $('span#mailingAddress').addClass('hide');
                    var inputs = $('span#mailingAddress').find('input');
                    for (var i = 0; i < inputs.length; i++) {
                        inputs[i].value = inputs[i].defaultValue;
                    }
                } else {
                    $('span#mailingAddress').removeClass('hide');
                }
            });*/

            $('input#sameYes').click(function() {
                $('span#mailingAddress').addClass('hide');
                var inputs = $('span#mailingAddress').find('input');
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].value = inputs[i].defaultValue;
                }
            });

            $('input#sameNo').click(function() {
                $('span#mailingAddress').removeClass('hide');
            });

            $('button#editButton').click(function() {
                $('table#view').addClass('hide');
                $('button#editButton').addClass('hide');
                $('form#edit').removeClass('hide');
                $("button#cancelButton").removeClass('hide');
            });

            $('button#cancelButton').click(function() {
                $('form#edit').addClass('hide');
                $("button#cancelButton").addClass('hide');
                $('table#view').removeClass('hide');
                $('button#editButton').removeClass('hide');
                $('form#edit')[0].reset();
                if ($('input#sameYes')[0].checked) {
                    $('span#mailingAddress').addClass('hide');
                }
            });

        </script>

  </body>
</html>
