<aside class="left-panel">
    <div class="logo">
        <a href="/index" class="logo-expanded">
            <span class="nav-label">CNS</span>
        </a>
    </div>
    <nav class="navigation">
        <ul class="list-unstyled">
            <li>
                <a href="/company/home"><i class="fa fa-home text-center"></i><span class="nav-label">Home</span></a>
            </li>
            <li>
                <a href="/calendar"><i class="fa fa-calendar text-center"></i><span class="nav-label">Calendar</span></a>
            </li>
            <li>
                <a href="/logout"><i class="fa fa-sign-out text-center"></i><span class="nav-label">Logout</span></a>
            </li>
        </ul>
    </nav>
</aside>
