<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <!-- sweet alerts -->
        <link href="/static/sweet-alert/sweet-alert.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/datatables/custom.css" charset="utf-8">

        <link href="/static/timepicker/bootstrap-datepicker.min.css" rel="stylesheet" />

        <link href="/static/toggles/toggles.css" rel="stylesheet" />

        <title>Customer</title>
    </head>
    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <p class="lead">
                            Customer: {{ if .company.Id}}{{ .company.Name }}{{ else }}NEW{{ end }}
                        </p>

                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <ul class="nav nav-tabs profile-tabs">
                                    <li class="active"><a class="tab" >Customer Center</a></li>
                                    <li class=""><a class="tab"  href="/cns/company/{{ .company.Id }}/service">Service</a></li>
                                    <li class=""><a class="tab"  href="/cns/company/{{ .company.Id }}/vehicle">Vehicles</a></li>
                                    <li class=""><a class="tab"  href="/cns/company/{{ .company.Id }}/driver">Drivers</a></li>
                                    <li class=""><a class="tab"  href="/cns/company/{{ .company.Id }}/form">Forms</a></li>
                                </ul>
                                <div class="tabPane clearfix">
                                    <div id="view"  class="profile-desk">
                                        <div class="row">
                                            <div id="infoPane" class="col-lg-6">
                                                <h1 class="clearfix">
                                                    {{ if .company.Id }}{{ .company.Name }}{{ else }}New{{ end }}
                                                    <button class="btn btn-primary btn-xs pull-right" id="editButton">Edit</button>
                                                </h1>
                                                <table class="table table-condensed" style="margin-bottom:0;">
                                                    <tbody>
                                                        <tr>
                                                            <td><b>DOT #</b></td>
                                                            <td>{{ .company.DOTNum }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Name</b></td>
                                                            <td>{{ .company.Name }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Primary Contact</b></td>
                                                            <td>
                                                                {{ .company.ContactName }}<br>
                                                                {{ .company.ContactTitle }}<br>
                                                                {{ .company.ContactPhone }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Secondary Contact</b></td>
                                                            <td>
                                                                {{ .company.SecondName }}<br>
                                                                {{ .company.SecondTitle }}<br>
                                                                {{ .company.SecondPhone }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Physical Address</b></td>
                                                            <td>{{ .company.PhysicalAddress.AddrHTML }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>Mailing Address</b></td>
                                                            <td>{{ .company.MailingAddress.AddrHTML }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>MC #</b> &nbsp;&nbsp;{{ .company.MCNum }}
                                                            </td>
                                                            <td>
                                                                <b>PUC #</b> &nbsp;&nbsp;{{ .company.PUCNum }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>Fax</b> &nbsp;&nbsp;{{ .company.Fax }}
                                                            </td>
                                                            <td>
                                                                <b>Email</b> &nbsp;&nbsp;{{ .company.Email }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <b>EIN #</b> &nbsp;&nbsp;{{ .company.EINNum }}
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>NY HUT Username</b></td>
                                                            <td>{{ .company.NYHutUsername }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>NY HUT Password</b></td>
                                                            <td>{{ .company.NYHutPassword }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>NY OSCAR Username</b></td>
                                                            <td>{{ .company.NYOscarUsername }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td><b>NY OSCAR Password</b></td>
                                                            <td>{{ .company.NYOscarPassword }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-lg-6 clearfix">
                                                <div class="profile-desk">
                                                    <div style="height:315px;">
                                                        <h1 class="clearfix">
                                                            Notes
                                                            <button class="btn btn-primary btn-xs pull-right" id="addNote">Add</button>
                                                        </h1>
                                                        <div style="height:285px; overflow:auto;">
                                                            <table class="table table-condensed table-hover table-bordered" style="margin-bottom:0;">
                                                                <tbody>
                                                                    {{ range $note := .notes }}
                                                                        <tr class="clickable" data-note='{{ toJson $note }}'>
                                                                            <td>
                                                                                {{ $note.Body }}
                                                                            </td>
                                                                            <td>{{ $note.StartTimePretty }}</td>
                                                                        </tr>
                                                                    {{ end }}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <table class="table table-condensed" style="margin-bottom:0;">
                                                        <tbody>
                                                            <tr>
                                                                <td><b>Credit Card</b></td>
                                                                <td>
                                                                    {{ .company.CreditCard.Number }}<br>
                                                                    {{ .company.CreditCard.ExpirationDate}} {{ .company.CreditCard.SecurityCode }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>DOT Pin</b></td>
                                                                <td>{{ .company.DOTPin }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>MC Pin</b></td>
                                                                <td>{{ .company.MCPin }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>IRP Account Number</b></td>
                                                                <td>{{ .company.IRPNum }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>FMCSA Username</b></td>
                                                                <td>{{ .company.FMCSAUsername }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>FMCSA Password</b></td>
                                                                <td>{{ .company.FMCSAPassword }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>KY Use Num</b></td>
                                                                <td>{{ .company.KYUseNum }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>NM Hut Username</b></td>
                                                                <td>{{ .company.NMHutUsername }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>NM Hut Password</b></td>
                                                                <td>{{ .company.NMHutPassword }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="edit"  class="profile-desk hide">
                                        <div class="row">
                                            <form id="edit" action="/cns/company" method="post">
                                                <div class="col-lg-6">
                                                    <h1 class="clearfix">
                                                        {{ if .company.Id }}{{ .company.Name }}{{ else }}New{{ end }}
                                                        <a class="btn btn-danger btn-xs pull-right" id="cancelButton">Cancel</a>
                                                    </h1>
                                                    <table  class="table table-condensed" style="margin-bottom:0;">
                                                        <tbody>
                                                            <tr>
                                                                <td><b>DOT #</b></td>
                                                                <td><input type="text" class="form-control" name="dOTNum" value="{{ .company.DOTNum }}" placeholder="DOT#"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Name</b></td>
                                                                <td><input type="text" class="form-control" name="name" value="{{ .company.Name }}" placeholder="Name"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Primary Contact</b></td>
                                                                <td>
                                                                    <input type="text" class="form-control" name="contactName" value="{{ .company.ContactName }}" placeholder="Name"><br>
                                                                    <input type="text" class="form-control" name="contactTitle" value="{{ .company.ContactTitle }}" placeholder="Title"><br>
                                                                    <input type="text" class="form-control" name="contactPhone" value="{{ .company.ContactPhone }}" placeholder="Phone">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Secondary Contact</b></td>
                                                                <td>
                                                                    <input type="text" class="form-control" name="secondName" value="{{ .company.SecondName }}" placeholder="Name"><br>
                                                                    <input type="text" class="form-control" name="secondTitle" value="{{ .company.SecondTitle }}" placeholder="Title"><br>
                                                                    <input type="text" class="form-control" name="secondPhone" value="{{ .company.SecondPhone }}" placeholder="Phone">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Physical Address</b></td>
                                                                <td>
                                                                    <input type="text" class="form-control" name="physicalAddress.Street" value="{{ .company.PhysicalAddress.Street }}" placeholder="Street"><br>
                                                                    <input type="text" class="form-control" name="physicalAddress.City" value="{{ .company.PhysicalAddress.City }}" placeholder="City"><br>
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            <input type="text" class="form-control" name="physicalAddress.State" value="{{ .company.PhysicalAddress.State }}" placeholder="State">
                                                                        </div>
                                                                        <div class="col-lg-6">
                                                                            <input type="text" class="form-control" name="physicalAddress.Zip" value="{{ .company.PhysicalAddress.Zip }}" placeholder="Zip">
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>Mailing Address</b></td>
                                                                <td>
                                                                    <div class="row">
                                                                        <div class="col-lg-6">
                                                                            Same as Physical
                                                                        </div>
                                                                        <div class="radio-inline">
                                                                            <label class="cr-styled" for="sameYes">
                                                                                <input type="radio" name="sameAddress" value="true" id="sameYes" {{ if .company.SameAddress}}checked{{ end }}>
                                                                                <i class="fa"></i>
                                                                                Yes
                                                                            </label>
                                                                        </div>
                                                                        <div class="radio-inline">
                                                                            <label class="cr-styled" for="sameNo">
                                                                                <input type="radio" name="sameAddress" value="false" id="sameNo" {{ if not .company.SameAddress}}checked{{ end }}>
                                                                                <i class="fa"></i>
                                                                                No
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <span id="mailingAddress" {{ if .company.SameAddress }}class="hide"{{ end }}>
                                                                        <br>
                                                                        <input type="text" class="form-control" name="mailingAddress.Street" value="{{ .company.MailingAddress.Street }}" placeholder="Street"><br>
                                                                        <input type="text" class="form-control" name="mailingAddress.City" value="{{ .company.MailingAddress.City }}" placeholder="City"><br>
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <input type="text" class="form-control" name="mailingAddress.State" value="{{ .company.MailingAddress.State }}" placeholder="State">
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <input type="text" class="form-control" name="mailingAddress.Zip" value="{{ .company.MailingAddress.Zip }}" placeholder="Zip">
                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b>MC #</b><br><br>
                                                                    <input type="text" class="form-control" name="mCNum" value="{{ .company.MCNum }}" placeholder="MC#">
                                                                </td>
                                                                <td>
                                                                    <b>PUC #</b><br><br>
                                                                    <input type="text" class="form-control" name="pUCNum" value="{{ .company.PUCNum }}" placeholder="PUC#">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b>Fax</b><br><br>
                                                                    <input type="text" class="form-control" name="fax" value="{{ .company.Fax }}" placeholder="Fax">
                                                                </td>
                                                                <td>
                                                                    <b>Email</b><br><br>
                                                                    <input type="email" class="form-control" name="email" value="{{ .company.Email }}" placeholder="Email">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <b>EIN #</b><br><br>
                                                                    <input type="text" class="form-control" name="eINNum" value="{{ .company.EINNum }}" placeholder="EIN#">
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>NY HUT Username</b></td>
                                                                <td><input type="text" class="form-control" name="nYHutUsername" value="{{ .company.NYHutUsername }}" placeholder="NY HUT Username"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>NY HUT Password</b></td>
                                                                <td><input type="text" class="form-control" name="nYHutPassword" value="{{ .company.NYHutPassword }}" placeholder="NY HUT Password"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>NY OSCAR Username</b></td>
                                                                <td><input type="text" class="form-control" name="nYOscarUsername" value="{{ .company.NYOscarUsername }}" placeholder="NY OSCAR Username"></td>
                                                            </tr>
                                                            <tr>
                                                                <td><b>NY OSCAR Password</b></td>
                                                                <td><input type="text" class="form-control" name="nYOscarPassword" value="{{ .company.NYOscarPassword }}" placeholder="NY OSCAR Password"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    {{ if .company.Id }}
                                                        <input type="hidden" name="id" value="{{ .company.Id }}">
                                                    {{ end }}
                                                    <button class="btn btn-success btn-block">Save</button>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="profile-desk">
                                                        <div style="height:315px;">
                                                            <!-- <h1 class="clearfix">
                                                                Notes
                                                                <button class="btn btn-primary btn-xs pull-right" id="addNote">Add</button>
                                                            </h1>
                                                            <div style="height:285px; overflow:auto;">
                                                                <table class="table table-condensed table-hover table-bordered" style="margin-bottom:0;">
                                                                    <tbody>
                                                                        {{ range $note := .notes }}
                                                                            <tr class="clickable" data-note='{{ toJson $note }}'>
                                                                                <td>
                                                                                    {{ $note.Body }}
                                                                                </td>
                                                                                <td>{{ $note.StartTimePretty }}</td>
                                                                            </tr>
                                                                        {{ end }}
                                                                    </tbody>
                                                                </table>
                                                            </div> -->
                                                        </div>
                                                        <br>
                                                        <table class="table table-condensed" style="margin-bottom:0;">
                                                            <tbody>
                                                                <tr>
                                                                    <td><b>Credit Card</b></td>
                                                                    <td>
                                                                        <input type="text" class="form-control" name="creditCard.Number" value="{{ .company.CreditCard.Number }}" placeholder="Number"><br>
                                                                        <div class="row">
                                                                            <div class="col-lg-6">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control datepicker" name="creditCard.ExpirationDate" value="{{ .company.CreditCard.ExpirationDate }}" placeholder="Experation Date">
                                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6">
                                                                                <input type="text" class="form-control" name="creditCard.SecurityCode" value="{{ .company.CreditCard.SecurityCode }}" placeholder="Security Code">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>DOT Pin</b></td>
                                                                    <td><input type="text" class="form-control" name="dOTPin" value="{{ .company.DOTPin }}" placeholder="DOT Pin"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>MC Pin</b></td>
                                                                    <td><input type="text" class="form-control" name="mCPin" value="{{ .company.MCPin }}" placeholder="MC Pin"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>IRP Account Number</b></td>
                                                                    <td><input type="text" class="form-control" name="iRPNum" value="{{ .company.IRPNum }}" placeholder="IRP Account Number"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>FMCSA Username</b></td>
                                                                    <td><input type="text" class="form-control" name="fMCSAUsername" value="{{ .company.FMCSAUsername }}" placeholder="FMCSA Username"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>FMCSA Password</b></td>
                                                                    <td><input type="text" class="form-control" name="fMCSAPassword" value="{{ .company.FMCSAPassword }}" placeholder="FMCSA Password"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>KY Use Tax Num</b></td>
                                                                    <td><input type="text" class="form-control" name="kYUseNum" value="{{ .company.KYUseNum }}" placeholder="KY Use Tax Num"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>NM Hut Username</b></td>
                                                                    <td><input type="text" class="form-control" name="nMHutUsername" value="{{ .company.NMHutUsername }}" placeholder="NM HUT Username"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><b>NM Hut Password</b></td>
                                                                    <td><input type="text" class="form-control" name="nMHutPassword" value="{{ .company.NMHutPassword }}" placeholder="NM HUT Password"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {{ template "footer.tmpl" . }}

        </section>

        <div class="modal fade" id="noteModal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="noteModalTitle">New Note</h4>
                    </div>
                    <div class="modal-body clearfix" id="noteModalBody">
                        <form id="noteForm" action="/cns/company/note" method="post">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Communication</label>
                                        <select id="communication" class="form-control" name="communication">
                                            <option value="called">Called</option>
                                            <option value="emailed">Emailed</option>
                                            <option value="walkIn">Walked In</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Representative</label>
                                        <input id="representative" class="form-control" type="text" name="representative" value="">
                                    </div>
                                    <div class="form-group">
                                        <label>Date ane Time</label>
                                        <div class="input-group date" id="datetimepicker">
                                            <input type="text" class="form-control" name="dateTime" id="dateTime"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="">Pupose</label>
                                        <select id="purpose" class="form-control" name="purpose">
                                            <option value="question">Question</option>
                                            <option value="service">Service</option>
                                            <option value="sales">Sales</option>
                                            <option value="consult">Consult</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Call Back Phone Number</label>
                                        <input id="callBack" class="form-control" type="text" name="callBack" value="">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Employee</label>
                                        <select id="employeeId" class="form-control" name="employeeId">
                                            {{ $userId := .userId }}
                                            {{ range $employee := .employees}}
                                                <option value="{{ $employee.Id }}" {{ if eq $userId $employee.Id }}selected{{ end }}>{{ $employee.FirstName }} {{ $employee.LastName }}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Email Another Employee</label><br>
                                        <div style="height:34px;">
                                            <div class="radio-inline">
                                                <label class="cr-styled" for="emailEmployeeTrue">
                                                    <input type="radio" id="emailEmployeeTrue" name="emailEmployee" value="true">
                                                    <i class="fa"></i>
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="radio-inline">
                                                <label class="cr-styled" for="emailEmployeeFalse">
                                                    <input type="radio" id="emailEmployeeFalse" name="emailEmployee" value="false" checked>
                                                    <i class="fa"></i>
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Billable</label><br>
                                        <div style="height:34px;">
                                            <div class="radio-inline">
                                                <label class="cr-styled" for="billableTrue">
                                                    <input type="radio" id="billableTrue" name="billable" value="true">
                                                    <i class="fa"></i>
                                                    Yes
                                                </label>
                                            </div>
                                            <div class="radio-inline">
                                                <label class="cr-styled" for="billableFalse">
                                                    <input type="radio" id="billableFalse" name="billable" value="false" checked>
                                                    <i class="fa"></i>
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea id="body" name="body" rows="6" class="form-control"></textarea>
                                    </div>
                                    <button class="btn btn-primary btn-xs">Save</button>
                                </div>
                            </div>
                            <input type="hidden" name="companyId" value="{{ .company.Id }}">
                            <input id="id" type="hidden" name="id">
                        </form>
                    </div>
                    <div class="modal-footer">
                        {{ range $quickNote := .quickNotes }}
                            <button class="btn btn-default btn-xs quickNote" data-note="{{ $quickNote.Body }}">{{ $quickNote.Name }}</button>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content Ends -->

        {{ template "scripts.tmpl" . }}

        <script src="/static/js/jquery.scrollTo.min.js"></script>

        <script src="/static/toggles/toggles.min.js"></script>
        <script src="/static/date-time-picker/moment-with-locales.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/date-time-picker/bootstrap-datetimepicker.js"></script>
        <script src="/static/timepicker/bootstrap-datepicker.js"></script>

        <script type="text/javascript">

            jQuery('.datepicker').datepicker();

            var newComp = {{ if .company.Id }}false{{ else }}true{{ end }};

            $('input#sameYes').click(function() {
                $('span#mailingAddress').addClass('hide');
                var inputs = $('span#mailingAddress').find('input');
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].value = inputs[i].defaultValue;
                }
            });

            $('input#sameNo').click(function() {
                $('span#mailingAddress').removeClass('hide');
            });

            $('button#editButton').click(function() {
                $('div#view').addClass('hide');
                $('div#edit').removeClass('hide');
            });

            $('a#cancelButton').click(function() {
                if (newComp) {
                    window.location.href = '/cns/company';
                    return;
                }
                $('div#edit').addClass('hide');
                $('div#view').removeClass('hide');
                $('form#edit')[0].reset();
                if ($('input#sameYes')[0].checked) {
                    $('span#mailingAddress').addClass('hide');
                }
            });

            if (newComp) {
                $('div#view').addClass('hide');
                $('div#edit').removeClass('hide');
            }

            $('a.tab').click(function(e) {
                if (newComp) {
                    e.preventDefault()
                    $.Notification.autoHideNotify('error', 'top right', 'Please save company first');
                }
            });

            $(function () {
                $('#datetimepicker').datetimepicker();
            });

            $('#noteModal').on('hidden.bs.modal', function (e) {
                $('form#noteForm')[0].reset();
            })

            $(document).on('click', 'tr.clickable', function() {

                var note = {};
                try {
                    note = JSON.parse($(this).attr('data-note'));
                } catch(err) {
                    alert('Error retrieving note. Please refresh the page');
                    return
                }
                $('form#noteForm input#dateTime').val(note.startTimePretty);
                $('form#noteForm select#communication').val(note.communication);
                $('form#noteForm select#purpose').val(note.purpose);
                $('form#noteForm select#employeeId').val(note.employeeId);
                $('form#noteForm input#representative').val(note.representative);
                $('form#noteForm input#callBack').val(note.callBack);
                $('form#noteForm textarea#body').val(note.body);
                $('form#noteForm input#id').val(note.id);
                if (note.emailEmployee) {
                    $('form#noteForm input#emailEmployeeTrue')[0].checked = true;
                }
                if (note.billable) {
                    $('form#noteForm input#billableTrue')[0].checked = true;
                }
                $('#noteModal').modal('show');
            });

            $('button.quickNote').click(function() {
                var note = $('form#noteForm textarea#body').val() + '  ' + $(this).attr('data-note');
                $('form#noteForm textarea#body').val(note);
            });

            $('#addNote').click(function() {
                $('form#noteForm input#dateTime').val(moment().format('MM/DD/YYYY hh:mm A'));
                $('#noteModal').modal('show');
            });

        </script>

  </body>
</html>
