<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <!-- sweet alerts -->
        <link href="/static/sweet-alert/sweet-alert.min.css" rel="stylesheet">
        <!-- DataTables -->
        <link href="/static/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/static/datatables/custom.css" charset="utf-8">

        <link href="/static/toggles/toggles.css" rel="stylesheet" />

        <title>Company</title>
    </head>
    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <p class="lead">
                            Company: {{ if .company.Id}}{{ .company.Name }}{{ else }}NEW{{ end }}
                        </p>

                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <ul class="nav nav-tabs profile-tabs">
                                    <li class=""><a id="infoTab" href="/cns/company/{{ .company.Id }}">Customer Center</a></li>
                                    <li class=""><a id="driversTab" href="/cns/company/{{ .company.Id }}/service">Service</a></li>
                                    <li class=""><a id="vehiclesTab" href="/cns/company/{{ .company.Id }}/vehicle">Vehicles</a></li>
                                    <li class=""><a id="notesTab" href="/cns/company/{{ .company.Id }}/driver">Drivers</a></li>
                                    <li class="active"><a class="tab"  href="/cns/company/{{ .company.Id }}/form">Forms</a></li>
                                </ul>

                                <div class="tabPane clearfix">
                                    <div class="profile-desk">
                                        <div class="col-lg-3">
                            				<h1>Add State Form</h1>
                            				<div id="docs" class="list-group">
                            					{{ range $form := .forms }}
                                                    <p>
                                                        {{ index $form 0 }}
                                                        <button class="btn btn-success btn-xs pull-right add" data-name="{{ index $form 0 }}" data-vehicles="{{ index $form 1 }}">
                                                            Add
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                            							<!-- <button id="addDoc" data-added="0" data-docId="{{ index $form 0 }}" class="btn-default btn btn-xs pull-right check">
                            								<i class="fa fa-check"></i>
                            							</button> -->
                            						</p>
                            					{{ end }}
                                                <!-- <p>
                            						<form id="documentForm" class="text-center" method="post" action="/cns/company/{{ .company.Id }}/form">
                            							<input type="hidden"  id="docIds" name="docIds">
                                                        <div class="form-group">
                                                            <button id="done" class="btn btn-md btn-primary btn-block" type="submit" disabled="disabled">
                                                                Please Select Forms
                                                            </button>
                                                        </div>
                            						</form>
                                                </p> -->
                            				</div>
                                		</div>
                                        <div class="col-lg-9">
                                            <div class="table-responsive">
                                                <table id="formsTable" class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr id="search">
                                                            <th>form</th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                        <tr>
                                                            <th>Form</th>
                                                            <th>Complete</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{ $company := .company }}
                                                        {{ range $doc := .docs }}
                                                            <tr class="clickable" data-url="/test/form/{{ $doc.Id }}" data-target="_blank">
                                                                <td>{{ $doc.Name }}</td>
                                                                <td>{{ $doc.Complete }}</td>
                                                                <td class="text-center"><a data-message="Are you sure you would like to delete this document?" data-color="red" data-url="/document/del/{{ $company.Id }}/{{ $doc.Id }}" class="confirm-action btn btn-danger btn-xs" data-type="warning">Delete</a></td>
                                                            </tr>
                                                        {{ end }}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ template "footer.tmpl" . }}

        </section>

        <div class="modal fade" id="stateFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="stateFormModalTitle">Add Form</h4>
                    </div>
                    <div id="stateFormModalBody" class="modal-body">
                        <div id="stateFormModalForm" class="form-horizontal">
                        </div>
                        <form id="stateFormModalForm" class="form-horizontal" action="/cns/company/{{ .company.Id }}/form" method="post">
                            <input id="stateFormCompanyId" type="hidden" name="companyId" value="{{ .company.Id }}">
                            <input id="stateFormVehicleIds" type="hidden" name="vehicleIds">
                            <input id="stateFormName" type="hidden" name="name">
                            <button id="stateFormButton" class="btn btn-primary btn-block">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Content Ends -->

        {{ template "scripts.tmpl" . }}

        <script src="/static/js/jquery.scrollTo.min.js"></script>
        <script src="/static/datatables/jquery.dataTables.min.js"></script>
        <script src="/static/datatables/dataTables.bootstrap.js"></script>
        <script src="/static/js/confirm.js" charset="utf-8"></script>
        <script src="/static/datatables/custom.js" charset="utf-8"></script>

        <script src="/static/toggles/toggles.min.js"></script>

        {{ template "session.tmpl" . }}

        <script type="text/javascript">

            var table = $('#formsTable').DataTable({
                "lengthMenu":[5,10,15,20],
                "dom": 'lrtip',
                "columnDefs": [
                    { "orderable": false, "targets": [1,2] },
                    { "name": "form",   "targets": 0 }
                ]
            });

            $('button.add').click(function() {
                $('#stateFormModalTitle').text('Add ' + $(this).attr('data-name'));
                var vehicles =+ $(this).attr('data-vehicles');
                for (var i = 0; i < vehicles; i++) {
                    var v = $('<label class="control-label col-lg-4">Vehicle ' + (i + 1) + '</label>'+
                        '<div class="form-group col-lg-8">'+
                            '<select class="form-control vehicleIds">'+
                                {{ range $vehicle := .vehicles }}
                                    '<option value="{{ $vehicle.Id }}">{{ $vehicle.VIN }}</option>' +
                                {{ end }}
                            '</select>'+
                        '</div>');
                    $('#stateFormModalForm').append(v);
                }
                $('#stateFormName').val($(this).attr('data-name'));
                if (vehicles < 1) {
                    $('form#stateFormModalForm').submit();
                    return
                }
                $('#stateFormModal').modal();
            });

            $('#stateFormModal').on('hidden.bs.modal', function () {
                $('#stateFormName').val('');
                $('div#stateFormModalForm').html('');
            });

            $('#stateFormButton').click(function(e) {
                e.preventDefault();
                var selects = $('.vehicleIds');
                var vehicleIds = [];
                for (var i = 0; i < selects.length; i++) {
                    var vid = selects[i].value;
                    vehicleIds.push(vid);
                }
                $('#stateFormVehicleIds').val(vehicleIds);
                $('form#stateFormModalForm').submit();
            });

            confirm.yes = function(btn) {
                $('<form method="post" action="' + btn.attr('data-url') + '"><input name="redirect" value="/cns/company/{{ .company.Id}}/form"></form>').submit();
            }

            // var docId = [];
            // $('button[id="addDoc"]').click(function() {
            //     var b = $(this);
            //     if (b.attr('data-added') == '0') {
            //         docId.push(b.attr('data-docId'));
            //         b.removeClass('btn-default');
            //         b.addClass('btn-success');
            //         b.attr('data-added', '1');
            //         $('button[id="done"]').removeAttr('disabled');
            //         $('button[id="done"]').text('Add Documents To Company');
            //     } else {
            //         var idx = docId.indexOf(b.attr('data-docId'));
            //         if (idx > -1) {
            //             docId.splice(idx, 1);
            //         }
            //         b.removeClass('btn-success');
            //         b.addClass('btn-default');
            //         b.attr('data-added', '0');
            //         if(docId.length < 1) {
            //             $('button[id="done"]').attr('disabled', 'disabled');
            //             $('button[id="done"]').text('Please Select Forms');
            //         }
            //     }
            // });
            //
            // $('button[id="done"]').click(function(e){
            //     e.preventDefault();
            //     $('input#docIds').val(docId.join(','));
            //     $('form#documentForm').submit();
            // });

        </script>

  </body>
</html>
