<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <!-- sweet alerts -->
        <link href="/static/sweet-alert/sweet-alert.min.css" rel="stylesheet">
        <!-- DataTables -->
        <link href="/static/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/static/datatables/custom.css" charset="utf-8">

        <link href="/static/toggles/toggles.css" rel="stylesheet" />

        <title>Company</title>
    </head>
    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <p class="lead">
                            Company: {{ if .company.Id}}{{ .company.Name }}{{ else }}NEW{{ end }}
                        </p>

                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <ul class="nav nav-tabs profile-tabs">
                                    <li class=""><a id="infoTab" href="/cns/company/{{ .company.Id }}">Information</a></li>
                                    <li class=""><a id="driversTab" href="/cns/company/{{ .company.Id }}/driver">Drivers</a></li>
                                    <li class=""><a id="vehiclesTab" href="/cns/company/{{ .company.Id }}/vehicle">Vehicles</a></li>
                                    <li class=""><a id="notesTab" href="/cns/company/{{ .company.Id }}/note">Notes</a></li>
                                    <li class="active"><a id="settingsTab" >Settings</a></li>
                                </ul>
                                <div class="tab-content m-0">

                                    <div id="settingsPane">
                                        <div class="user-profile-content">
                                            <form role="form" action="/cns/company" method="post">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="FullName">Name</label>
                                                            <input type="text" value="{{ .company.Name }}" name="name" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="FullName">Contact Name</label>
                                                            <input type="text" value="{{ .company.Contact }}" name="contact" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Email">Contact Email</label>
                                                            <input type="email" value="{{ .company.Email }}" name="auth.Email" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Email">Phone</label>
                                                            <input type="text" value="{{ .company.Phone }}" name="phone"  class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Company Login</label>
                                                            <div class="control-label">
                                                                <div class="toggle toggle-default"></div>
                                                            </div>
                                                            <input id="switch" type="checkbox" name="auth.Active" {{ if .company.Active }}checked{{ end }} value="true" class="hide">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="FullName">Street</label>
                                                            <input type="text" value="{{ .company.Street }}" name="address.Street" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="FullName">City</label>
                                                            <input type="text" value="{{ .company.City }}" name="address.City" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Email">State</label>
                                                            <input type="text" value="{{ .company.State }}" name="address.State" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Email">Zip</label>
                                                            <input type="text" value="{{ .company.Zip }}" name="address.Zip" class="form-control">
                                                        </div>
                                                        <input type="hidden" name="id" value="{{ .company.Id }}">
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary" type="submit">Save</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ template "footer.tmpl" . }}

        </section>
        <!-- Main Content Ends -->

        {{ template "scripts.tmpl" . }}

        <script src="/static/js/jquery.scrollTo.min.js"></script>
        <script src="/static/js/confirm.js" charset="utf-8"></script>
        <script src="/static/toggles/toggles.min.js"></script>

        {{ template "session.tmpl" . }}

        <script type="text/javascript">

                // Form Toggles
                jQuery('.toggle').toggles({
                    {{ if .company.Active }}on: true,{{ end }}
                    checkbox:$('#switch')
                });

        </script>


  </body>
</html>
