<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <!-- sweet alerts -->
        <link href="/static/sweet-alert/sweet-alert.min.css" rel="stylesheet">
        <style media="screen">
            label.radio-label {
                width:20px;
            }
        </style>
        <title>Customer</title>
    </head>
    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <p class="lead">
                            Company: {{ if .company.Id}}{{ .company.Name }}{{ else }}NEW{{ end }}
                        </p>

                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <ul class="nav nav-tabs profile-tabs">
                                    <li class=""><a id="infoTab" href="/cns/company/{{ .company.Id }}">Customer Center</a></li>
                                    <li class="active"><a id="serviceTab">Service</a></li>
                                    <li class=""><a id="vehiclesTab" href="/cns/company/{{ .company.Id }}/vehicle" >Vehicles</a></li>
                                    <li class=""><a id="notesTab" href="/cns/company/{{ .company.Id }}/driver">Drivers</a></li>
                                    <li class=""><a class="tab"  href="/cns/company/{{ .company.Id }}/form">Forms</a></li>
                                </ul>

                                <div class="tabPane clearfix">
                                    <div class="profile-desk">
                                        <div class="col-lg-3">

                                            <div class="form-group">
                                                <label>Apportion</label><br>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="apportionTrue">
                                                        <input type="radio" id="apportionTrue" name="apportion" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="apportionFalse">
                                                        <input type="radio" id="apportionFalse" name="apportion" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control datepicker" name="" value="" placeholder="Apportion Date 1">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control datepicker" name="" value="" placeholder="Apportion Date 2">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Fuel Tax Program</label><br>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="fuelTaxTrue">
                                                        <input type="radio" id="fuelTaxTrue" name="fuelTax" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="fuelTaxFalse">
                                                        <input type="radio" id="fuelTaxFalse" name="fuelTax" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                                <br>
                                                <label class="radio-label">NY</label>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="fuelTaxNYTrue">
                                                        <input type="radio" id="fuelTaxNYTrue" name="fuelTaxNY" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="fuelTaxNYFalse">
                                                        <input type="radio" id="fuelTaxNYFalse" name="fuelTaxNY" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                                <br>
                                                <label class="radio-label">KY</label>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="fuelTaxKYTrue">
                                                        <input type="radio" id="fuelTaxKYTrue" name="fuelTaxKY" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="fuelTaxKYFalse">
                                                        <input type="radio" id="fuelTaxKYFalse" name="fuelTaxKY" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                                <br>
                                                <label class="radio-label">NM</label>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="fuelTaxNMTrue">
                                                        <input type="radio" id="fuelTaxNMTrue" name="fuelTaxNM" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="fuelTaxNMFalse">
                                                        <input type="radio" id="fuelTaxNMFalse" name="fuelTaxNM" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Drug Consortium</label><br>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="drugConsortiumTrue">
                                                        <input type="radio" id="drugConsortiumTrue" name="drugConsortium" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="drugConsortiumFalse">
                                                        <input type="radio" id="drugConsortiumFalse" name="drugConsortium" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control datepicker" name="" value="" placeholder="Drug Consortium Date">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>Driver File Management</label><br>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="driverFileManagementTrue">
                                                        <input type="radio" id="driverFileManagementTrue" name="driverFileManagement" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="driverFileManagementFalse">
                                                        <input type="radio" id="driverFileManagementFalse" name="driverFileManagement" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control datepicker" name="" value="" placeholder="Driver File Management Date">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>DOT Update</label><br>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="driverFileManagementTrue">
                                                        <input type="radio" id="driverFileManagementTrue" name="driverFileManagement" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="driverFileManagementFalse">
                                                        <input type="radio" id="driverFileManagementFalse" name="driverFileManagement" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control datepicker" name="" value="" placeholder="Driver File Management Date">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>2290</label><br>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="2290True">
                                                        <input type="radio" id="2290True" name="2290" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="2290False">
                                                        <input type="radio" id="2290False" name="2290" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label>UCR</label><br>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="UCRTrue">
                                                        <input type="radio" id="UCRTrue" name="UCR" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="UCRFalse">
                                                        <input type="radio" id="UCRFalse" name="UCR" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Log Auditing</label><br>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="logAuditingTrue">
                                                        <input type="radio" id="logAuditingTrue" name="logAuditing" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="logAuditingFalse">
                                                        <input type="radio" id="logAuditingFalse" name="logAuditing" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>CSA Service</label><br>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="cSAServiceTrue">
                                                        <input type="radio" id="cSAServiceTrue" name="cSAService" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="cSAServiceFalse">
                                                        <input type="radio" id="cSAServiceFalse" name="cSAService" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control datepicker" name="" value="" placeholder="CSA Service Date">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>IFTA Renewal</label><br>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="iftaRenewalTrue">
                                                        <input type="radio" id="iftaRenewalTrue" name="iftaRenewal" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="iftaRenewalFalse">
                                                        <input type="radio" id="iftaRenewalFalse" name="iftaRenewal" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-3">

                                            <div class="form-group">
                                                <label>NY</label><br>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="nyTrue">
                                                        <input type="radio" id="nyTrue" name="ny" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="nyFalse">
                                                        <input type="radio" id="nyFalse" name="ny" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control datepicker" name="" value="" placeholder="NY Date">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>GPS</label><br>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="gpsTrue">
                                                        <input type="radio" id="gpsTrue" name="gps" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="gpsFalse">
                                                        <input type="radio" id="gpsFalse" name="gps" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control datepicker" name="" value="" placeholder="GPS Date">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>Training</label><br>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="trainingTrue">
                                                        <input type="radio" id="trainingTrue" name="training" value="true">
                                                        <i class="fa"></i>
                                                        Yes
                                                    </label>
                                                </div>
                                                <div class="radio-inline">
                                                    <label class="cr-styled" for="trainingFalse">
                                                        <input type="radio" id="trainingFalse" name="training" value="false" checked>
                                                        <i class="fa"></i>
                                                        No
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control datepicker" name="" value="" placeholder="Training Date">
                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ template "footer.tmpl" . }}

        </section>
        <!-- Main Content Ends -->

        {{ template "scripts.tmpl" . }}

        <script src="/static/js/jquery.scrollTo.min.js"></script>
        <script src="/static/js/confirm.js" charset="utf-8"></script>
        <script src="/static/timepicker/bootstrap-datepicker.js"></script>

        <script type="text/javascript">
            jQuery('.datepicker').datepicker();
        </script>

  </body>
</html>
