<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/static/js/input-tools.js"></script>
<script src="/static/js/document.js"></script>
<script>
    {{ if .admin }}
        var url = '{{ template "url" . }}/admin/driver/{{ .driver.Id }}/document/';
    {{ else }}
        var url = '{{ template "url" . }}/{{ .company.Slug }}/document/';
    {{ end }}
    var id = '{{ .document.Id }}';
    var slug = '{{ .company.Slug }}';
    var data = '{{ .document.Data }}';
</script>
