<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <!-- sweet alerts -->
        <link href="/static/sweet-alert/sweet-alert.min.css" rel="stylesheet">

        <title>Driver</title>

    </head>

    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-sm-12">

                        <p class="lead">
                            Driver: {{ if .driver.Id }}{{ .driver.FirstName }} {{ .driver.LastName}}{{ else }}NEW{{ end }}
                        </p>

                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <ul class="nav nav-tabs profile-tabs">
                                    <li class="active"><a class="tab" href="">Information</a></li>
                                    <li><a class="tab" href="/cns/driver/{{ .driver.Id}}/form">Forms</a></li>
                                    <li><a class="tab" href="/cns/driver/{{ .driver.Id }}/file">Uploaded Files</a></li>
                                </ul>

                                <div style="padding:30px">
                                    <div class="col-lg-6">
                                        <h1>{{ .driver.FirstName }} {{ .driver.LastName}}</h1>

                                        <table class="table table-condensed">
                                            <tbody>
                                                <tr>
                                                    <td><b>Email</b></td>
                                                    <td>{{ .driver.Email }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Phone</b></td>
                                                    <td>{{ .driver.Phone }}</td>
                                                </tr>

                                                <tr>
                                                    <td><b>Address</b></td>
                                                    <td>{{ .driver.AddrHTML }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Date of Birth</b></td>
                                                    <td>{{ .driver.FormatDOB }}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Age</b></td>
                                                    <td>{{ .driver.GetAge }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ template "footer.tmpl" . }}

        </section>

        {{ template "scripts.tmpl" . }}

        <script src="/static/js/jquery.scrollTo.min.js"></script>
        <script src="/static/dropzone/dropzone.min.js"></script>
        <script src="/static/datatables/jquery.dataTables.min.js"></script>
        <script src="/static/datatables/dataTables.bootstrap.js"></script>
        <script src="/static/js/confirm.js" charset="utf-8"></script>
        <script src="/static/datatables/custom.js" charset="utf-8"></script>

    </body>
</html>
