<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <!-- sweet alerts -->
        <link href="/static/sweet-alert/sweet-alert.min.css" rel="stylesheet">

    </head>

    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <div class="wraper container-fluid">

                <div class="row m-t-30">
                    <div class="col-sm-12">
                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <ul class="nav nav-tabs profile-tabs">
                                    <li class="active"><a data-toggle="tab" href="#info">About Me</a></li>
                                    <li class=""><a data-toggle="tab" href="#settings">Settings</a></li>
                                </ul>

                                <div class="tab-content m-0">

                                    <div id="info" class="tab-pane active">
                                        <div class="profile-desk">
                                            <h1>{{ .employee.FirstName}} {{ .employee.LastName }}</h1>

                                            <table class="table table-condensed">
                                                <tbody>
                                                    <tr>
                                                        <td><b>Email</b></td>
                                                        <td>{{ .employee.Email }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Phone</b></td>
                                                        <td>(123)-456-7890</td>
                                                    </tr>
                                                    <tr>
                                                        <td><b>Address</b></td>
                                                        <td>{{ .employee.AddrHTML }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div id="settings" class="tab-pane">
                                        <div class="user-profile-content">
                                            <form role="form">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label for="FullName">First Name</label>
                                                            <input type="text" value="{{ .employee.FirstName }}" id="FullName" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="FullName">Last Name</label>
                                                            <input type="text" value="{{ .employee.LastName }}" id="FullName" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Email">Email</label>
                                                            <input type="email" value="{{ .employee.Email }}" id="Email" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="FullName">Phone</label>
                                                            <input type="text" value="{{ .employee.Phone }}" id="FullName" class="form-control">
                                                        </div>
                                                        <button class="btn btn-primary" type="submit">Save</button>
                                                    </form>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label for="FullName">Street</label>
                                                        <input type="text" value="{{ .employee.Street }}" id="FullName" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="FullName">City</label>
                                                        <input type="text" value="{{ .employee.City }}" id="FullName" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Email">State</label>
                                                        <input type="email" value="{{ .employee.State }}" id="Email" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Email">Zip</label>
                                                        <input type="email" value="{{ .employee.Zip }}" id="Email" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ template "footer.tmpl" . }}

        </section>
        <!-- Main Content Ends -->

        {{ template "scripts.tmpl" . }}

        <script src="/static/js/jquery.scrollTo.min.js"></script>

    </body>
</html>
