<aside class="left-panel">
    <!-- brand -->
    <div class="logo">
        <a href="/index" class="logo-expanded">
            <img src="/static/img/single-logo.png" alt="logo">
            <span class="nav-label">Velonic</span>
        </a>
    </div>
    <!-- / brand -->
    <!-- Navbar Start -->
    <nav class="navigation">
        <ul class="list-unstyled">
            <li>
                <a href="/"><i class="ion-home text-center"></i> <span class="nav-label">Home</span></a>
            </li>
            <li>
                <a href="/company"><i class="fa fa-building-o text-center"></i> <span class="nav-label">Company</span></a>
            </li>
            <li>
                <a href="/driver"><i class="ion-man text-center"></i> <span class="nav-label">Driver</span></a>
            </li>
            <li>
                <a href="/employee"><i class="ion-person text-center"></i> <span class="nav-label">Employee</span></a>
            </li>
            <li>
                <a href="/calendar"><i class="fa fa-calendar text-center"></i> <span class="nav-label">Calendar</span></a>
            </li>
            <li>
                <a href="/settings"><i class="fa fa-cog text-center"></i> <span class="nav-label">My Settings</span></a>
            </li>
            <li>
                <a href="/logout"><i class="fa fa-sign-out text-center"></i> <span class="nav-label">Logout</span></a>
            </li>
            <!-- <li class="has-submenu active"><a href="#"><i class="ion-document"></i> <span class="nav-label">Pages</span></a>
                <ul class="list-unstyled">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/timeline">Timeline</a></li>
                    <li><a href="/invoice">Invoice</a></li>
                    <li><a href="/contact">Contact-list</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/recoverpw">Recover Password</a></li>
                    <li><a href="/lock-screen">Lock Screen</a></li>
                    <li class="active"><a href="/blank">Blank Page</a></li>
                    <li><a href="/404">404 Error</a></li>
                    <li><a href="/404_alt">404 alt</a></li>
                    <li><a href="/500">500 Error</a></li>
                </ul>
            </li> -->
        </ul>
    </nav>
</aside>
