<aside class="left-panel">
    <!-- brand -->
    <div class="logo">
        <a href="/index" class="logo-expanded">
            <img src="/static/img/single-logo.png" alt="logo">
            <span class="nav-label">Velonic</span>
        </a>
    </div>
    <!-- / brand -->
    <!-- Navbar Start -->
    <nav class="navigation">
        <ul class="list-unstyled">
            <li class="has-submenu">
                <a href="/"><i class="ion-home"></i> <span class="nav-label">Home</span></a>
            </li>
            <li class="has-submenu">
                <a href="/contact"><i class="ion-person-stalker"></i> <span class="nav-label">Company</span></a>
            </li>
            <li class="has-submenu">
                <a href="/files"><i class="ion-document"></i> <span class="nav-label">Driver</span></a>
            </li>
            <li class="has-submenu">
                <a href="/admin"><i class="ion-gear-a"></i> <span class="nav-label">Employee</span></a>
            </li>
            <li class="has-submenu">
                <a href="/admin"><i class="ion-gear-a"></i> <span class="nav-label">Calender</span></a>
            </li>
            <!-- <li class="has-submenu active"><a href="#"><i class="ion-document"></i> <span class="nav-label">Pages</span></a>
                <ul class="list-unstyled">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/timeline">Timeline</a></li>
                    <li><a href="/invoice">Invoice</a></li>
                    <li><a href="/contact">Contact-list</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/recoverpw">Recover Password</a></li>
                    <li><a href="/lock-screen">Lock Screen</a></li>
                    <li class="active"><a href="/blank">Blank Page</a></li>
                    <li><a href="/404">404 Error</a></li>
                    <li><a href="/404_alt">404 alt</a></li>
                    <li><a href="/500">500 Error</a></li>
                </ul>
            </li> -->
        </ul>
    </nav>
</aside>
