<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "head.tmpl" }}
        <title>Test</title>
    </head>
    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <!-- Page Content Start -->
            <div class="wraper container-fluid">
                <div class="page-title">
                    <h3 class="title">Test</h3>
                </div>
            </div>
            <!-- Page Content Ends -->

            {{ template "footer.tmpl" }}

        </section>
        <!-- Main Content Ends -->

        {{ template "scripts.tmpl" }}
    </body>
</html>
